figure
{
    background-color: #FFFFFF;
    max-width: 200px;
    border: solid 5px #FFF;
    box-shadow: 2px 2px 5px #000000;
}

figcaption
{
    text-align: center;
    font-style: italic;
}

.botcomment > p{
    margin: 10px;
}

.botcomment {
    text-align: justify;
    margin-left: 10px;
    padding: 10px;
    background-color: rgba(229, 244, 255, 0.51);
    border-left:solid 1px #0b3c68;;
}